  .Hangman {
    width: 400px;
    text-align: center;
    color: black;
    zoom: 1.2;
  }

  .Hangman img {
    border: 10px solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
  }

  .Hangman-btns {
    width: 250px;
    display: inline-block;
    text-align: center;
    margin-top: 0;
  }

  .Hangman button {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
    width: 30px;
    background: #ffc107;
    border-radius: 5px;
    padding-top: 4px;
    box-shadow: 0 6px #ff9800;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    margin: 5px 2px 2px 2px;
  }

  .Hangman button:hover {
    background-color: #ff9800;
  }

  .Hangman button:disabled{
      background: #bdbdbd;
      color: #eeeeee;
        box-shadow: 0 6px #9e9e9e;
  }

  .Hangman h1 {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 0.1em;
    margin-top: 0;
  }
  
  .Hangman-word {
    letter-spacing: 1em;
    margin: 0.4em -1em 0.2em 0;
    font-size: 2rem;
  }

  #reset {
      width: auto;
      display: block;
      margin: 10px auto;
      background: rgb(207, 0, 207);
      box-shadow: 0 6px purple;
  }

  #reset:hover {
    background: purple;
  }